name: Mark and close stale issues and pull requests

on:
 
  workflow_dispatch:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v8
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Issues go stale after 30 days of inactivity. Please comment or re-open the issue if you are still interested in getting this issue fixed otherwise this issue will be closed in 5 days.'
        stale-issue-label: 'stale'
        exempt-issue-labels: 'enhancement'

        stale-pr-message: 'PRs go stale after 30 days of inactivity. Please comment or re-open the PR if you are still working on this PR otherwise this issue will be closed in 5 days.'
        stale-pr-label: 'stale'
        exempt-pr-labels: 'awaiting-approval'
        
        days-before-stale: 30
        days-before-close: 0
        
